{% block server_redirect %}
{% if item.redirect_server_name is defined %}
server {
{% if item.redirect_listen is defined and item.redirect_listen is string %}
    listen       {{ item.redirect_listen | default('80') }};
{% elif item.redirect_listen is defined and item.redirect_listen is iterable %}{% for listen in item.redirect_listen %}
    listen       {{ listen }};
{% endfor %}
{% elif item.listen is defined and item.listen is iterable %}{% for listen in item.listen %}
    listen       {{ listen }};
{% endfor %}{% else %}
    listen {{ item.listen | default('80') }};
{% endif %}
    server_name  {{ item.redirect_server_name }};
{% if item.redirect_ssl_certificate is defined %}
    ssl_certificate {{ item.redirect_ssl_certificate }};
{% endif %}
{% if item.redirect_ssl_certificate_key is defined %}
    ssl_certificate_key {{ item.redirect_ssl_certificate_key }};
{% endif %}
{% if item.redirect_ssl_certificate is defined %}
    include options-ssl-nginx.conf;
{% endif %}
    root /usr/share/nginx/html;
    index index.html index.htm index.nginx-debian.html;
    location ~ /.well-known {
        allow all;
    }
    location / {
        return 301 $scheme://{{ item.server_name.split(' ')[0] }}$request_uri;
    }
}
{% endif %}
{% endblock %}

{% block server_force_redirect_to_https %}
{% if item.server_force_redirect_to_https is sameas true %}
server {
    listen       80;
    server_name  {{ item.server_name }};
    root /usr/share/nginx/html;
    index index.html index.htm index.nginx-debian.html;
    location ~ /.well-known {
        allow all;
    }
    location / {
        return 301 https://{{ item.server_name.split(' ')[0] }}$request_uri;
    }
}
{% endif %}
{% endblock %}

server {
    {% block server_begin %}{% endblock %}

    {% block server_basic -%}
    listen {{ item.listen | default('80') }};
{% if nginx_listen_ipv6 %}
    listen       [::]:{{item.listen | default('80') }};
{% endif %}

{% if item.server_name is defined %}
    server_name {{ item.server_name }};
{% endif %}

{% if item.root is defined %}
    root {{ item.root }};
{% endif %}

    include h5bp/basic.conf;

    index {{ item.index | default('index.html index.htm') }};

{% if item.error_page is defined %}
    error_page {{ item.error_page }};
{% endif %}
{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }} error;
{% endif %}

{% if item.return is defined %}
    return {{ item.return }};
{% endif %}
    {% endblock %}

    {% block server_end %}{% endblock %}

{% if item.extra_parameters is defined %}
    {{ item.extra_parameters|indent(4) }}
{% endif %}

{% if item.ssl_certificate is defined %}
    ssl_certificate {{ item.ssl_certificate }};
{% endif %}
{% if item.ssl_certificate_key is defined %}
    ssl_certificate_key {{ item.ssl_certificate_key }};
{% endif %}
{% if item.ssl_certificate is defined %}
	include options-ssl-nginx.conf;
{% endif %}
}
